html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.2em;
    background: rgb(40, 48, 56);
    background: radial-gradient( circle, rgba(40, 48, 56, 1) 0%, #282c34 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dce4ec;
}